.btn-book, .btn-unbook {
    font-size: 1rem;
    padding: 0.8rem;
    color: #fff;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s ease;
}

.btn-book:hover {
    background-color: rgb(0, 90, 0);
    transform: scale(1.1);
    cursor: pointer;
}

.btn-book {
    background-color: rgb(0, 137, 0);
}

.btn-unbook {
    background-color: rgb(255, 73, 73);
}

.btn-book:hover {
    background-color: rgb(0, 90, 0);
    transform: scale(1.1);
    cursor: pointer;
}

.btn-unbook:hover {
    background-color: rgb(195, 0, 0);
    transform: scale(1.1);
    cursor: pointer;
}