<app-header></app-header>
<main class="home-container">
    <div class="items">
        <div class="item">
            <h2>Teste</h2>
            <div class="content">
                <div class="left-side">
                    <p>Img</p>
                    <span>Air Fryer</span>
                </div>
                <app-button btnLabel="Reservar Item"></app-button>
            </div>
        </div>
        <div class="item">
            <h2>Teste 2</h2>
            <div class="content">
                <div class="left-side">
                    <p>Img</p>
                    <span>Air Fryer 2</span>
                </div>
                <app-button styleType="unbook" btnLabel="Reservar Item"></app-button>
            </div>
        </div>
    </div>
</main>
